.home-video-wrapper {
  background: #f4f6fa;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.video-play {
  color: #4DAB48;
  font-size: 26px;
  background: #fff;
  box-shadow: 0 0 0 6px rgb(255 255 255/50%);
  border-radius: 100%;
  width: 56px;
  height: 56px;
  margin: auto;
  padding: 14px 15px;
  text-align: center;
  position: relative;
}

.video-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.video-overlay {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(35,65,119,.5);
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding: 20px;
}

.home-customer-item {
  padding: 25px;
}

.home-customer-item h5 {
  color: #5377B7;
  margin: 0 0 10px;
}

.home-customer-item h2 {
  color: #234177;
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px;
  line-height: 1.2em;
}

.home-video-wrapper .js-testimonials-arrow {
    margin-top: 50px;
}

.button-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.button-wrapper a i {
  background: white;
  color: #4DAB48;
  border-radius: 20px;
  padding: 2px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.button-wrapper a {
  background: #4DAB48;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 7px 8px 7px 13px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

    
.home-video-box {
  text-align: left;
  line-height: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 7px 3px rgb(26 49 89 / 10%);
  background: white;
  margin-right: 10px;
  margin-left: 10px;
}
.home-video-box {
  display: flex;
}

.home-video-box img {
  width: 100%;
  height: 100%;
}

.external {
  height: auto;
    object-fit: cover;
    width: auto;
}


@media (min-width: 320px) {
  .home-video-box {display: inline-block}
}

@media (min-width: 768px) {
  .home-video-box {display: flex}
}