.blogs {
  text-align: center;
  background: white;
}

.select {
  max-width: none;
  display: flex !important;
  width: 100%;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
  justify-content: center;

}

.desktop-category {
  display: flex;
}

.desktop-category ul {
  display: flex;
}

.desktop-category ul li { list-style: none; }

.desktop-category ul li a {
  display: inline;
  color: black !important;
  text-decoration: none;
  /* padding: 20px; */
  font-size: 15px;
}

.tab-contents {
  margin-bottom: 30px;
}

.blog-contents a {
  text-decoration: none !important;
  color: #0056b3 !important;
}

.blog-card {
  background: #fff;
  border-radius: 10px;
  text-align: center;
  height: 100%;
  line-height: 24px;
  max-width: 400px;
  margin: auto auto 25px;
  box-shadow: 0px 8px 17px 2px rgb(26 49 89 / 20%);
  display: block;
  position: relative;
  overflow: hidden;
}

.blog-image img {
  height: 170px !important;
  width: 100%;
}

.blog-content {
  text-align: left;
  padding: 20px 25px 15px;
  text-decoration: none;
}

.blog-card h3 {
  color: #234177;
}

.blog-content p {
  color: grey;
}

.hyperlink {
  font-weight: 600;
  color: #4dab4d;
  position: relative;
  display: inline;
}

.hyperlink::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2F772C;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out,-webkit-transform 0.3s ease-in-out;
}

.hyperlink::after {
  content: "";
  font-size: 12px;
  margin-left: 5px;
  position: relative;
  top: -1px;
}


.blog-button {
  margin-bottom: 30px;
}

.blog-button .btn-primary { 
  border-radius: 90px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  padding: 12px 13px 12px 20px;
  position: relative;
  line-height: 1.4;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  transition: all .4s ease-in-out;
  vertical-align: middle;
  letter-spacing: .5px;
  background: #234177;
}

.blog-button a:hover { 
  background-color: #007bff; color: white !important; 
}

@media (min-width: 320px) {
  .select { display: block !important }

  .desktop-category { display: none; }
}

@media (min-width: 1025px) {
  .select { display: flex !important; }
  .desktop-category { display: block; }

  .desktop-category a {
    white-space: nowrap;
  }
}