/*------------------------------------*\
    
    WebFX Slick Customizations - Global styling for all slider/carousels

    Add custom slider styling to this file if it should be applied to all slick sliders on the site
    Otherwise, put your slider-specific styles in individual block stylesheets

\*------------------------------------*/


/* Preloader affect for your slider */

.js-slider-has-preloader {
    /* Add class to slider to show  */
    min-height: 50px;
    position: relative;
}

.js-slider-has-preloader:before {
    content: url('../img/loading.gif');
    /* Create and upload a loading gif to your image directory */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    /* Update width based on gif size */
    height: 50px;
    /* Update height based on gif size */
    transition: all .5s ease;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.js-slider-has-preloader-init:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}



/* Only show the 1st slide while your slider is loading
NOTE: .your-slider should be the class that is holding your entire slider.
NOTE: .slide is the class you have on each slide before any js classes are added.
Guru: https://app.getguru.com/card/ixR67EpT/Slick-Slider
*/

.your-slider .slide { /* TODO: Change .your-slider to match your sliders wrapper class and .slide to match your individual slide class. Example: https://webpagefx.mangoapps.com/msc/NTUzMjUxXzg0NDA4Njg  */
    display: none;
}

.your-slider .slide:first-child {  /* TODO: Change .your-slider to match your sliders wrapper class and .slide to match your individual slide class. Example: https://webpagefx.mangoapps.com/msc/NTUzMjUxXzg0NDA4Njg  */
    display: block;
}

.your-slider.slick-initialized .slide {  /* TODO: Change .your-slider to match your sliders wrapper class and .slide to match your individual slide class. Example: https://webpagefx.mangoapps.com/msc/NTUzMjUxXzg0NDA4Njg  */
    display: block;
}

.slick-arrow {
    font-size: 0;
 }

 .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    /* top: 50%; */
    display: block;
    /* width: 54px;
    height: 60px; */
    padding: 6px !important;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-next {
    font-size: 10;
    line-height: 0;
    position: absolute;
    /* top: 50%; */
    display: block;
    width: 54px;
    height: 60px;
    padding: 6px !important;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}


.slick-prev::before {
    content: '\2039';
    font-size: 53px !important;
    color: white !important;
    padding: 6px;
    text-align: center;
    border-radius: 50%
}

.slick-next::before {
    content: '\203A';
    font-size: 53px !important;
    color: white !important;
    padding: 8px;
    text-align: center;
    border-radius: 50%
}

@media (min-width: 320px) {
    .slick-prev {
        font-size: 0;
        line-height: 0;
        position: absolute;
        display: block;
        /* width: 54px;
        height: 60px; */
        padding: 6px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        left: 63px;
    }
    
    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        display: block;
        width: 54px;
        height: 60px;
        padding: 6px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        right: 53px;
        
    }

    .slick-arrow {
        position: absolute;
        width: 43px;
        height: 43px;
        background: #4dab48;
        bottom: -116px !important;
        border: none;
        /* color: transparent; */
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        transition: all .4s ease-in-out;
        z-index: 99;
      }
}

@media (min-width: 580px) {
    .slick-arrow {
        position: absolute;
        width: 43px;
        height: 43px;
        /* background: #4dab48; */
        bottom: 0 !important;
        border: none;
        /* color: transparent; */
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        transition: all .4s ease-in-out;
        z-index: 99;
        top: 50%
      }

      .slick-prev {
        font-size: 0;
        line-height: 0;
        position: absolute;
        display: block;
        /* width: 54px;
        height: 60px; */
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        left: 0;
          /* top: 50%; */
    }

    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        display: block;
        width: 54px;
        height: 60px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        right: 0;
          /* top: 50%; */
    }
}

@media (min-width: 768px) {
    .slick-prev {
        font-size: 0;
        line-height: 0;
        position: absolute;
        display: block;
        /* width: 54px;
        height: 60px; */
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        left: 0;
          /* top: 50%; */
    }
    
    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        display: block;
        width: 54px;
        height: 60px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        right: 0;
          /* top: 50%; */
    }

    .slick-arrow {
        position: absolute;
        width: 43px;
        height: 43px;
        /* background: #4dab48; */
        bottom: 0 !important;
        border: none;
        /* color: transparent; */
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        transition: all .4s ease-in-out;
        z-index: 99;
      }
}